.auth-pages {
    .card{
        padding: 20px;
        border-radius: 0;
    }

    .btn-outline-dark{
        border-radius: 0;
        width: 150px;
    }

    .btn-outline-dark:hover{
        background: white;
        color: white;
        cursor: pointer;
    }

    .btn-dark{
        border-radius: 0;
    }

    html, body{
        height: 100%;
        font-family: 'Lato', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Abel', sans-serif;
    }

    h1,h2 {
        font-weight: bold;
        margin-top: 2rem;
    }
}