.buttons {
    .spring-btn{
        clear:both; background: #FC6471; border: none; color: #fff; font-size: 1em; padding: 10px; cursor: pointer; font-size: 17px;
        background: linear-gradient(to right, #FC6471 50%, white 50%);
        background-size: 200% 100%;
        background-position: left bottom;
        transition: all .5s ease-out;
    }

    .spring-btn:hover{
        border: 1px solid #FC6471;
        background: white;
        color: white;
        cursor: pointer;
        color: #FC6471;
        background-position: right bottom;
    }
}